@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

html {
    position: relative;
    min-height: 100%;
    background-color: #f2f5f7;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.background {
    background: url("http://103.109.209.245/jtiform/assets/img/jti.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    top: 0;
    -webkit-box-shadow: inset 0 0 0 2000px rgba(35, 34, 47, 0.8);
    box-shadow: inset 0 0 0 2000px rgba(35, 34, 47, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.vh-100 {
    height: 100vh !important;
}

.marquee {
    width: 500px;
    height: auto;
    margin-top: 10px;
}

* {
    padding: 0px;
    margin: 0;
}

.border {
    border: 1px solid #dee2e6;
}

.border-primary {
    border-color: #5766da;
}

.ml-auto,
.mx-auto {
    margin-left: auto;
}

.mr-auto,
.mx-auto {
    margin-right: auto;
}

.w-25 {
    width: 25%;
}

.thumb-sm {
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.img {
    align-items: center;
    justify-content: center;
}

.mt-3 {
    padding: 5px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.account-title {
    padding-top: 200px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.accountbg {
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

* h1 {
    font-size: 60px;
}

* h4 {
    font-size: 25px;
}

.col-lg-9 {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.p-0 {
    padding: 0 !important;
}
